.fixed-bottom-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: white
}

.form-content {
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding-bottom: 100px; /* Đảm bảo không bị che bởi các nút */
}
