.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.form-group label {
    width: 200px; /* Độ rộng cố định cho nhãn */
    font-weight: bold;
    margin-right: 10px;
    text-align: left; /* Căn phải cho nhãn */
}

.form-group input,
.form-group select {
    flex: 1; /* Input mở rộng để vừa với container */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px; /* Giới hạn độ rộng input */
}

.form-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-container {
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.fixed-bottom-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: white
}

.form-content {
    overflow-y: auto; /* Cho phép cuộn dọc */
    padding-bottom: 100px; /* Đảm bảo không bị che bởi các nút */
}



